.new {
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      padding: 20px;
      margin: 20px;
      box-shadow: -2px 1px 8px 1px rgba(189, 189, 189, 0.21);
      -webkit-box-shadow: -2px 1px 8px 1px rgba(188, 188, 188, 0.21);
      -moz-box-shadow: -2px 1px 8px 1px rgba(185, 184, 184, 0.21);
      display: flex;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .left {
        flex: 1;
        text-align: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            width: 40%;

            label {
              gap: 10px;
              display: flex;
              align-items: center;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              border: none;
              padding: 5px;
              border-bottom: 1px solid gray;
            }
          }
          button {
            width: 150px;
            border: none;
            padding: 10px;
            border-radius: 5px;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
